.navbar {
  overflow: hidden;
  background-color: #292929;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}
.navbar a:hover {
  background: #2d73b3;
}
.navbar h1 {
  color: white;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1%;
  font-family: 'Fira Sans';
}

.titlebox {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://miro.medium.com/max/12000/1*LY1KiOzdn-NA3tLTbIJ4RQ.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50%;
}
.titletext {
  width: 100%;
  padding-bottom: 10%;
  padding-top: 10%;
  text-align: center;
  color: #eee;
}
.titletext img {
  width: 1%;
}
.titletext h1 {
  font-family: 'Raleway';
  font-size: 480%;
}
.titletext h2 {
  font-family: 'Fira Sans';
  font-size:300%;
}

/*text color*/
.card a {
  color: #DDEDF4;
  text-decoration: none;
}
.card b{
  color: #DDEDF4;
}

.cards {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12,[col] 1fr);
  grid-gap: 35px;
}

.card {
 grid-column: auto / span 4;
}
.wide {
  grid-column: auto / span 6;
}
.superwide {
  grid-column: auto / span 8;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 Charter;
  background-color: #eee;
}

img {max-width: 100%;}

.cards {
  padding-top: 3%;
  margin: 0 auto;
  max-width: 90%
}
.card {
  background-color: #212221;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.card:hover {
  background-color: #20326c;
}

.quote {
  grid-column: auto / span 4;
  grid-row: auto / span 2 !important;
  border-style: solid;
  border-width: 5px;
  border-color: #004c8c;
  padding-left: 1.5em;
  padding-right: 1.3em;
  line-height: 1.7em;
  font-family: 'Raleway';
  font-size: 130%;
  color: #20326c;
}
.quote:hover {
  border-style: double;
  border-color: #20326c;
}

.info {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-family: 'Raleway';
}
.info h2 {
  font-family: 'Fira Sans';
}
.card .body {
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.7em;
}

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 100%;
}

#amy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/dtH4dxHk/proj1-2.jpg");
  background-size: cover;
  background-position: center;
  border-style: double;
}
#emerald {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/dtH4dxHk/proj1-2.jpg");
  background-size: cover;
  background-position: center;
  border-style: double;
}
#sophie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/SsK66H2R/EPSON001.jpg");
  background-size: scale-down;
  background-position: center;
  border-style: double;
}
#liu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/Dy6fCm5W/Full-Piece.jpg");
  background-size: scale-down;
  background-position: center;
  border-style: double;
}

#davis, #amy, #sophie, #emerald, #liu, #layo {
  padding: 13% 0;
}





